<h2>Страница клиента:</h2>

<ul>
  <li><strong>Имя:</strong> <%= @client.name %></li>
  <li><strong>Телефон:</strong> <%= @client.phone %></li>
  <li><strong>Дата записи:</strong> <%= @client.datestamp %></li>
  <li><strong>Парикмахер:</strong> <%= @client.barber %></li>

</ul>

<p><a href="/clients"><< назад к списку записавшихся</a></p>